MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/devuping?retryWrites=true&w=majority
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
SESSION_SECRET=supersecretvalue
PORT=4000
FRONTEND_ORIGIN=http://localhost:3000
